/* Variables */
$clr-accent: #625df5;
$clr-white: #fefefe;
$clr-border: #eaeaea;
$clr-bg-input: #eaeaea;

/* Notification colors */
$clr-error: #ff4d4f;
$clr-success:#52c419;
$clr-warning: #f9ad15;
$clr-info:#1890ff;